@media (max-width: 600px) {
    section {
        max-height: 100%;
        max-width: 85%;
    }
    section > h2 {
        flex-wrap: wrap;
        font-size: 17px;   
    }
    h1 {
        font-size: 25px;
    }
}